@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}

body {
  overflow-x: hidden;
}

/* Shared Style */
span {
  color: rgb(233, 90, 8);
}

/* -----------------------------------------------Navbar_Styles-------------------------------------------------- */

.navbar {
  padding: 10px 0;
  width: 100%;
}

.nav-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo img {
  width: 135px;
  height: 82px;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

.nav-links a:nth-child(1) {
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.nav-links a:nth-child(2) {
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.nav-links a:nth-child(3) {
  color: rgb(137, 135, 161);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.nav-links a:nth-child(4) {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* -----------------------------------------------Banner_Styles-------------------------------------------------- */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 120px auto;
}

.banner-title {
  font-family: "Noto Serif", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
}

.banner-desc {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-logo > img:hover {
  cursor: pointer;
}

/* -----------------------------------------------Our-Plants_Styles------------------------------------------------- */

.our-plants-sec {
  max-width: 1140px;
  margin-top: 120px;
  margin: 0 auto;
}

.our-plants-title {
  text-align: center;
  font-family: "Noto Serif", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.our-plants-desc {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.cards {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1rem;
}

.card {
  margin-bottom: 30px;
  text-align: center;
  max-width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-title {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card-price {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-btn {
  text-align: center;
  width: 100%;
  height: 50px;
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.9s ease;
}

.card-btn:hover {
  cursor: pointer;
  background-color: #c9302c;
}

/* ---------------------------------------Flower & Plants Lover Styles---------------------------------------------- */

.flower-plant-lover-sec {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 210.13px;
}

.flower-plant-lover-container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.flower-plant-lover-container-left {
  position: relative;
  max-width: 540px;
  height: 597px;
}

.flower-plant-lover-container-right {
  max-width: 540px;
  height: 521px;
}

.flower-plant-lover-badge {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 347px;
  top: -127px;
  background-color: transparent;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flower-plant-lover-container-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", sans-serif;
  margin-bottom: 20px;
}

.flower-plant-lover-container-list-texts {
  padding-left: 30px;
  height: 108px;
}

.flower-plant-lover-container-list-texts > li {
  font-size: 22px;
  font-weight: 400;
  max-width: 540px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------Latest Deal Styles------------------------------------------------ */

.latest-deal-sec {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 133.88px;
}

.latest-deal-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
}

.latest-deal-desc {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 120px;
  color: rgba(0, 0, 0, 0.5);
}

.deal-layout {
  display: flex;
  gap: 28.78px;
  max-width: 1140px;
  height: 423.13px;
  margin: 0px auto 40px auto;
}

.deal-layout-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.deal-layout-left-1,
.deal-layout-left-2 {
  position: relative;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
}

.deal-layout-right {
  position: relative;
  width: 700px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}

.deal-layout-left-1 img,
.deal-layout-left-2 img,
.deal-layout-right img {
  width: 100%;
  height: 100%;
}

.deal-layout-left-1::before,
.deal-layout-left-2::before,
.deal-layout-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 12px;
}

.offer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: none;
  z-index: 1;
}

.offer-content h4,
.offer-content a {
  color: #fff;
  background: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.offer-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.deal-layout-left h4 {
  width: 270px;
  height: 27px;
  font-family: "Noto Serif", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.deal-layout-left a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.deal-layout-right h4 {
  width: 570px;
  height: 27px;
  font-family: "Noto Serif", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.deal-layout-right-a {
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.deal-layout a:hover {
  color: lightgray;
}

/* ----------------------------------------------News letter Styles -------------------------------------------------*/

.newsletter-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  height: 533px;
  padding: 20px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  color: white;
  background-color: transparent;
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 830px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.newsletter-input {
  flex-grow: 1;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: white;
  color: #333;
}

.newsletter-button {
  padding: 15px 30px;
  border: none;
  background-color: rgb(233, 90, 8);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 186px;
  height: 50px;
  transition: background-color 0.9s ease;
}

.newsletter-button:hover {
  background-color: #c9302c;
}

/* ------------------------------------------------Footer--------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1120px;
  margin: 50px auto 50px auto;
}

.logo-col {
  margin-right: 110.67px;
  max-width: 359px;
}

.logo-col img.logo {
  height: 50px;
  margin-bottom: 16px;
}

.footer-col p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  max-width: 359px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  max-width: 216px;
}

.footer-col ul li {
  margin-bottom: 32px;
}

.second-col {
  max-width: 85px;
  margin-right: 110.67px;
}

.third-col {
  max-width: 128px;
  margin-right: 110.67px;
}

.footer-col ul a {
  color: rgb(107, 114, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer-col ul a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social img:hover {
  transform: translateY(-5px);
  transition: 1s ease-in-out;
}

/* 
***********************************************************************************************************************
                                                  Responsive Styles 
***********************************************************************************************************************
*/

@media screen and (max-width: 576px) {
  .nav-links a:nth-child(1),
  .nav-links a:nth-child(2),
  .nav-links a:nth-child(3) {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-left {
    margin: 15px;
  }

  .banner-img {
    width: 100%;
  }

  .our-plants-desc br {
    display: none;
    margin: 15px;
  }

  .our-plants-desc {
    margin: 15px;
  }

  .flower-plant-lover-sec {
    margin-top: 41.5px;
  }

  .flower-plant-lover-container-title {
    font-size: 34px;
    font-weight: 700;
  }

  .flower-plant-lover-container-title br {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 12px;
  }

  .flower-plant-lover-container {
    flex-direction: column;
    padding: 0 36px;
    margin-top: 0;
    gap: 0px;
  }

  .flower-plant-lover-container-list-texts > li {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .flower-plant-lover-img {
    max-width: 100%;
  }

  .flower-plant-lover-badge {
    display: none;
  }

  .deal-layout {
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
    height: auto;
  }

  .latest-deal-desc br {
    display: none;
  }

  .deal-layout-left,
  .deal-layout-right,
  .deal-layout-left-1,
  .deal-layout-left-2 {
    width: 100%;
  }

  .deal-layout-left-1,
  .deal-layout-left-2,
  .deal-layout-right {
    height: 250px;
  }

  .deal-layout-left {
    gap: 16px;
  }

  .deal-layout-right h4 {
    font-size: 20px;
    width: 220px;
    margin-bottom: 10px;
  }

  .deal-layout-right a {
    font-size: 16px;
  }

  .newsletter-section {
    width: 100%;
    max-width: 100%;
    margin-top: 44px;
  }

  .newsletter-title {
    font-size: 38px;
    font-weight: 700;
  }

  .newsletter-input,
  .newsletter-button {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 16px;
  }
}
